.inputNumber{ 

    max-width: 6rem;
    font-size: 30px;
    text-align: center;
   
    box-sizing: inherit;
}
* bo
.titulo-register {

}

label {
    cursor: pointer;
    color: #000000;
    font-size: 15px;

}